@use '@angular/material' as mat;

.mat-project-tab {
  overflow-x: hidden;
  @include mat.tabs-overrides((
    divider-color: var(--background-color),
    active-label-text-color: var(--accent-color),
    active-hover-label-text-color: var(--accent-color),
    active-focus-label-text-color: var(--accent-color),
    inactive-hover-label-text-color: var(--accent-color),
    active-indicator-color: var(--accent-color),
    active-hover-indicator-color: var(--accent-color),
    active-focus-indicator-color: var(--accent-color)
  ));
}
// Disable horizontal overflow for Angular Material Tab Active Content
.mat-mdc-tab-body .mat-mdc-tab-body-content {
  overflow: hidden;
}
