@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    use-system-variables: true,
    system-variables-prefix: sys,
    typography: (
      plain-family: var(--default-font),
      brand-family: var(--heading-font),
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
      use-system-variables: true,
    system-variables-prefix: sys,
    ),
    density: (
      scale: 0,
    ),
  ))
}

body.dark-mode {
  color-scheme: dark;
}