.progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skill {
  color: var(--heading-color);
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: var(--heading-font);
}

.val {
  font-style: normal;
}

.progress-bar {
  height: 20px;
  transition: 0.9s;
  background-color: var(--accent-color);
}